* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Helvetica, Ariel, sans-serif;
    position: relative;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 90px;
    text-shadow: 2px 2px 4px white, 1px 1px 35px white, 3px 3px 7px white;
    margin: 0;
}

p {
    font-size: 22px;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

#search {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

#youtube-link {
  width: 70%;
}

#submit, #stop {
  width: 25%;
}

@media (max-width: 640px) {
  input {
    width: 100% !important;
  }
}


.image img {
  min-width: 100%;
  max-width: 1000px;
}

.image {
    max-width: 100%;
    overflow: hidden;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: #efefef;
    opacity: .9;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.overlay .dialog {
    position: relative;
    max-width: 600px;
    padding: 20px;
    background: white;
    opacity: 1;
    z-index: 2;
    margin: 20% auto;
}


input {
    font-size: 40px;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
}

h1 {
    text-align: center;

}

video {

}

#stop {
    display: none;
}

#result-yes, #result-no {
    display: none;
    font-weight: bold;;
}
